/* UTILITY */

 :root {
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

/* IMAGES */

.circleImage {
  height: 10rem;
  width: 10rem;
  border-radius: 200rem;
}