/* UTILITY */

 :root {
  --white: #FFF;
  --black: rgb(0, 0, 0);
  --teal:  rgb(115, 182, 167);
}

* {
  text-align: center;
}

.hidden {
  display: none;
}

/* NAV BAR */

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  background: rgb(115, 182, 167);
  color: var(--white);
  margin-bottom: 1rem;
  padding-left: 1rem;
}

h1 {
  align: left;
}

/* TABS */

.tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* IMAGES */

.circle-image {
  height: 10rem;
  width: 10rem;
  border-radius: 200rem;
}

.gallery {
  align-items: center;
  display: flex;
  flex-direction: row;
}

